.movieList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px 15px;
}

.movieLink {
    width: 100%;
    flex-basis: calc(100% / 4 - 26px);
    padding: 5px;
    color: black;
    background: #fbf9fa3f;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid rgb(3, 3, 54);
}

.movieImg {
    width: 100%;
}

.movieTitle {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}